<html>

    <head>
        <title>Weather App</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body>

        <div class="main-content">
            {{>header}}
            <p>Just a Test!</p>

            <form action="">
                <input type="text" name="" id="search" placeholder="Location">
                <button>Search</button>
            </form>
            <img src="" alt="weather icon" id="icon">

            <p id="msg1"></p>
            <p id="msg2"></p>
        </div>

        
        
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>

</html>